@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: "Hachi Maru Pop", sans-serif;

}


.search {
    position: relative;
    height: 20vh;
    width: 100%;

}


.search .input_box{
    display: flex;
    flex: center;

    
}

