
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: "Hachi Maru Pop", sans-serif;

}

body{
    display: flex;
    justify-content: center;

    align-items: center;
    min-height: 100vh;
    background-color: #EDEDE9;
}

.wind_reg{
    width: 420px;
    background-color:#D6CCC2;
    color: #14213d;

    border-radius: 40px;
    padding:  30px 40px;
}
.wind_reg h1{
    position: relative;
    right: 15px;
    font-size: 34px;
    

}
.wind_reg .input_box{
    width: 100%;
    height: 50px;
    margin: 30px 0;

    position: relative;

}

.input_box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255,255,255);
    border-radius: 40px;

    font-size: 16px;
    padding: 20px 45px 20px 20px;
    
}

.input_box input::placeholder{
    color: #14213d;
}

.input_box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    
}

.wind_reg .remember{
    display: flex;
   
    font-size: 14px;
    margin: 15px 0 0 0

}
.remember a{
    color: #14213d;
    text-decoration: none;
    text-align: center;

}
.remember a:hover{
    text-decoration: underline;

}
.wind_reg .btm{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wind_reg .remember .regisrt_link{
    font-size: 14px;
    text-align: center;
}

.remember .regisrt_link{
    display: relative;
    text-align: center;
}
.regisrt_link p a{
    color: #14213d;
    text-decoration: none;

 }
 .regisrt_link p a:hover{
    text-decoration: underline;

 }